#cv
{
    background-color: rgb(35,39,42);
    border: solid 2px white;
    margin-top: 6em;
    margin-bottom: 5em;
    text-align: center;
    color: white;
}
.category
{   
    color: white;
    overflow: hidden;margin-bottom: 1em;
    margin-left: 8em;
}
.categoryHeader
{
    text-align: center;
    color: white;
}
.categoryDescriptions
{
    float: left;
    margin-left: 2em;
    margin-top: 2em;
    font-weight: bolder;
    text-align: left;
}
.categoryData
{
    float: left;
    margin-left: 2em;
    margin-top: 2em;
    text-align: left;
}
