#homepage
{ 
	max-height: 80%;
	height: 80%;
	width: 80%;
	max-width: 80%;
	
	color: #ac9581;
	
	margin-top: 10em;
	margin-bottom: 10em;
	margin-right: 15em;
	margin-left: 15em;
	
	display: flex;
	justify-content: center;
	overflow: hidden;
	
	font-size: 5em;
}
#logonav
{
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: left;
	align-content: stretch;
	background-color: #16182b;
	position: fixed;
	top: 0em;
	left: 0em;
	right: 0rem;
	height: 4em;
	padding: 0em 1em 0em 1em;
}

#topnav
{
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-evenly;
	align-content: stretch;
	background-color: #16182b;
	position: fixed;
	top: 0em;
	left: 15em;
	right: 0rem;
	height: 4em;
	padding: 0em 1em 0em 1em;
}
#footernav
{
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-evenly;
	align-content: stretch;
	background-color: #16182b;
	position: fixed;
	left: 0em;
	right: 0rem;
	bottom: 0em;
	height: 4em;
	padding: 0em 1em 0em 1em;
	width: 100%;
}
div
{
	width: 15em;
	float: left;
	margin-top: 0.5em;
}

.navlogo
{
	text-decoration: none;
	color: #ac9581;

}

.navlink 
{
	color:black;
	text-align: center;
	font-variant: small-caps;
	font-size: 2em;
}

.navlink > a
{
	text-decoration: none;
	color: #ac9581;
}
body
{		
	background-color: #2d3154;	
}
